{% extends "base_form.html" %}
{% load form_filters %}

{% block form_content %}
<h2 class="text-[#111418] tracking-light text-[28px] font-bold leading-tight px-4 text-center pb-3 pt-5">Create your account</h2>
<form method="post">
  {% csrf_token %}
  <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      <p class="text-[#111418] text-base font-medium leading-normal pb-2">Email</p>
      {{ form.email|addclass:"form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#111418] focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-white focus:border-[#dbe0e6] h-14 placeholder:text-[#60758a] p-[15px] text-base font-normal leading-normal" }}
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          <p class="text-red-500 text-sm mt-1">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </label>
  </div>
  <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      <p class="text-[#111418] text-base font-medium leading-normal pb-2">Password</p>
      {{ form.password1|addclass:"form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#111418] focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-white focus:border-[#dbe0e6] h-14 placeholder:text-[#60758a] p-[15px] text-base font-normal leading-normal" }}
      {% if form.password1.errors %}
        {% for error in form.password1.errors %}
          <p class="text-red-500 text-sm mt-1">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </label>
  </div>
  <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      <p class="text-[#111418] text-base font-medium leading-normal pb-2">Confirm Password</p>
      {{ form.password2|addclass:"form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#111418] focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-white focus:border-[#dbe0e6] h-14 placeholder:text-[#60758a] p-[15px] text-base font-normal leading-normal" }}
      {% if form.password2.errors %}
        {% for error in form.password2.errors %}
          <p class="text-red-500 text-sm mt-1">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </label>
  </div>
  <div class="flex px-4 py-3 justify-center">
    <button type="submit"
      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#3d98f4] text-white text-sm font-bold leading-normal tracking-[0.015em]"
    >
      <span class="truncate">Sign Up</span>
    </button>
  </div>
</form>
<p class="text-[#60758a] text-sm font-normal leading-normal pb-3 pt-1 px-4 text-center underline">
  <a href="{% url 'login' %}">Already have an account? Log in</a>
</p>
{% endblock %}
