{% extends "base.html" %}

{% block content %}
<div class="gap-1 px-6 flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col w-80">
    <div class="flex h-full min-h-[700px] flex-col justify-between bg-white p-4">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-3 px-3 py-2 rounded-lg bg-[#f0f2f5]">
            <div class="text-[#111418]" data-icon="File" data-size="24px" data-weight="fill">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM152,88V44l44,44Z"
                ></path>
              </svg>
            </div>
            <p class="text-[#111418] text-sm font-medium leading-normal">Compress</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    {% block main_content %}{% endblock %}
  </div>
</div>
{% endblock %}
